@{
    ViewData["Title"] = "Home";
}

<!-- This is the home page where users learn about scrapbooking and can be guided to my pricing page-->
<h1>Welcome to Hadley's Hobby Site!</h1>

<div class="image-container">
    <img src="~/img/img_2166_original.jpg" alt="Hobby 1" />
    <img src="~/img/img_2168_original.jpg" alt="Hobby 2" />
</div>

<p>
    Scrapbooking has been around for centuries, evolving from simple collections of keepsakes into creative memory books. Back in the Victorian era, people filled scrapbooks with pressed flowers, letters, and little mementos. As time went on, scrapbooking became even more personal and expressive, with photos and decorative elements taking center stage. Now, it’s a creative way to capture life’s special moments, blending storytelling with design and turning memories into something tangible and lasting.
</p>

<p>
    Before I left for my mission to Poland for a year and a half, my cousin Gaby gave me the most thoughtful gift—a scrapbook filled with memories of us growing up together. It was full of pictures, funny moments, and reminders of our adventures through the years. I loved flipping through it and seeing our shared story on every page. I decided to start scrapbooking myself!!
</p>

<p>
    Scrapbooking quickly became one of my favorite hobbies. It lets me be creative, blending photos, patterns, and designs to tell stories in a personalized way. I love how each page becomes a keepsake, preserving little moments that might otherwise be forgotten. It’s a fun and meaningful way to capture life’s experiences and create something I can look back on and share with others.
</p>

<div class="text-center">
    <a class="btn custom-button" asp-controller="Home" asp-action="Calculator">Inquire for a Scrapbook Tutor!</a>
</div>

